.containerShippingBoxHeroSectionDoacaoItem {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

.containerButtonHeroSectionDoacaoItem {
  margin-left: auto;
  margin-right: 15%;
}

.buttonNaoSabeOqueDoarHeroDoacaoItem {
  margin-top: 20px;
  padding: 12px 50px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  line-height: 28px;
  width: 276px;
  height: 52px;

  /* Brancos, cinzas e preto/Branco MAIN */

  border: 2px solid #f2f2f2;
  border-radius: 50px;
}

.buttonNaoSabeOqueDoarHeroDoacaoItem:hover {
  border: 2px solid var(--primary-red);
  transition: 0.3s ease-in-out;
}
