.containerPrincipalGaleriaProjetosNossosProjetos {
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerInfosGaleriaProjetosNossosProjetos {
}

.containerTituloGaleriaProjetosNossosProjetos {
  text-align: center;
}

.tituloGaleriaProjetosNossosProjetos {
  font-size: 96px;
  font-weight: 700;
  color: var(--text-black);
}

.containerPrincipalFiltroGaleriaProjetosNossosProjetos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerFiltroLeftGaleriaProjetosNossosProjetos {
  width: 531px;
  color: var(--text-black);
}
.containerCategoriasFiltroGaleriaProjetosNossosProjetos {
  display: flex;
  margin-top: 10px;
  gap: 40px;
}

.containerSubTituloGaleriaProjetosNossosProjetos {
  color: var(--text-black);
  font-size: 48px;
  font-weight: 600;
  max-width: 520px;
  margin-left: 119px;
  margin-top: 73px;
}

.containerGaleriaEfetivaDeProjetosNossosProjetos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 1171px;
  margin-top: 50px;
}

.cardIndividualProjetoGaleriaNossosProjetos {
  width: 573px;
}

.imagemCardIndividualProjetoGaleriaNossosProjetos {
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 444px;
}
.imagemCardIndividualProjetoGaleriaNossosProjetos:hover {
  border-radius: 0px 0px 70px 0px;
}

.containerTituloCardIndividualProjetoGaleriaNossosProjetos {
  width: 100%;
  padding-left: 0px;
  display: flex;
}

.tituloCardIndividualProjetoGaleriaNossosProjetos {
  font-size: 40px;
  font-weight: 600;
  color: var(--text-black);
  padding-left: 20px;
}

.containerDescCardIndividualProjetoGaleriaNossosProjetos {
  max-width: 363px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(156, 156, 156, 1);
}

.containerDescCardIndividualProjetoGaleriaNossosProjetos {
  padding-left: 20px;
}

.containerButtonVejaMaisCardIndividualProjetoGaleriaNossosProjetos {
  width: 86px;
  height: 32px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  /* Azul/Azul MAIN */

  background: #018fbf;
  border-radius: 113.793px;
}

.filtrarpormaisbutton {
  font-size: 24px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media (max-width: 1170px) {
  .containerPrincipalGaleriaProjetosNossosProjetos {
    height: fit-content;
  }

  .cardIndividualProjetoGaleriaNossosProjetos {
    width: 386.5px;
  }

  .containerSubTituloGaleriaProjetosNossosProjetos {
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 1020px) {
  .containerPrincipalFiltroGaleriaProjetosNossosProjetos {
    margin-top: 90px;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 800px) {
  .containerPrincipalFiltroGaleriaProjetosNossosProjetos {
    flex-direction: column;
    margin-top: 90px;
    margin-left: 0%;
    margin-right: 0%;
    width: 573px;
  }

  .containerSubTituloGaleriaProjetosNossosProjetos {
    order: 1;
  }
  .containerFiltroLeftGaleriaProjetosNossosProjetos {
    order: 2;
    justify-content: start;
    align-items: start;
    margin-top: 70px;
    width: 573px;
  }

  .containerPrincipalGaleriaProjetosNossosProjetos {
    height: fit-content;
  }

  .cardIndividualProjetoGaleriaNossosProjetos {
    width: 573px;
  }
}

@media (max-width: 600px) {
  .containerPrincipalFiltroGaleriaProjetosNossosProjetos {
    width: 473px;
  }

  .containerFiltroLeftGaleriaProjetosNossosProjetos {
    width: 473px;
  }

  .cardIndividualProjetoGaleriaNossosProjetos {
    width: 473px;
  }
}

@media (max-width: 490px) {
  .containerPrincipalFiltroGaleriaProjetosNossosProjetos {
    width: 373px;
    margin: auto;
    margin-top: 90px;
  }

  .containerFiltroLeftGaleriaProjetosNossosProjetos {
    width: 373px;
  }

  .cardIndividualProjetoGaleriaNossosProjetos {
    width: 373px;
  }
  .tituloCardIndividualProjetoGaleriaNossosProjetos {
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 400px) {
  .tituloGaleriaProjetosNossosProjetos {
    font-size: 66px;
  }
  .containerPrincipalFiltroGaleriaProjetosNossosProjetos {
    width: 343px;
  }

  .containerFiltroLeftGaleriaProjetosNossosProjetos {
    width: 343px;
  }

  .cardIndividualProjetoGaleriaNossosProjetos {
    width: 343px;
  }
}
