.containerIndividualProjetoHeroSectionNossosProjetos {
  width: 100%;
}
.imagemHeroSectionNossosProjetos {
  object-fit: cover;
}
.containerPrincipalHeroSectionNossosProjetos {
  height: 100vh;
}

.containerSliderImagensHeroSectionNossosProjetos {
  position: relative;
  height: 100vh;
}

.imagemHeroSectionNossosProjetos {
  width: 100%;
  position: relative;
  height: 100vh;
}

.customPagingHeroSectionSobreNos {
  width: 100vw;

  color: var(--text-black);

  display: flex;
  color: #9c9c9c;

  margin-top: -100px;
  margin-left: 35vw;
  font-size: 20px;
}

.customPagingDivisoriaHeroSectionSobreNos {
  margin-top: 5px;
}

.containerInfosHeroSectionNossosProjetos {
  position: absolute;
  bottom: 0;
  margin-left: 190px;

  margin-bottom: 54px;
  display: flex;
}

.tituloInfoHeroSectionNossosProjetos {
  color: var(--text-white);
  font-size: 48px;
  font-weight: 600;
}

.buttonVejaMaisHeroSectionNossosProjetos {
  margin-bottom: 6px;
  margin-left: 37px;
  background: transparent;
  transition: 0.3s ease-in-out;
}

.slick-dots .slick-active {
  font-weight: 900;
}

.buttonVejaMaisHeroSectionNossosProjetos:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 1005px) {
  .containerInfosHeroSectionNossosProjetos {
    margin-left: 90px;
  }
}
@media (max-width: 880px) {
  .containerInfosHeroSectionNossosProjetos {
    margin-left: 90px;
  }

  .tituloInfoHeroSectionNossosProjetos {
    font-size: 34px;
  }

  .buttonVejaMaisHeroSectionNossosProjetos {
    padding: 7px 15px 7px 15px;
    margin-top: 8px;
    margin-left: 15px;
  }
}

@media (max-width: 650px) {
  .containerInfosHeroSectionNossosProjetos {
    margin-left: 30px;
  }
}
@media (max-width: 550px) {
  .imagemHeroSectionNossosProjetos {
    background-size: cover;
  }

  .containerInfosHeroSectionNossosProjetos {
    flex-direction: column;
  }

  .buttonVejaMaisHeroSectionNossosProjetos {
    padding: 7px 15px 7px 15px;
    margin-top: 8px;
    margin-left: 15px;
    width: fit-content;
  }
}
