.containerPrincipalInfosFaleConosco {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 235px;
}

.containerLeftPrincipaisInfosFaleConosco {
  color: var(--text-black);
  max-width: 426px;
}

.tituloPrincipaisInfosFaleConosco {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 30px;
}

.enderecoCompletoInfosFaleConosco {
  font-size: 32px;
  font-weight: 600;
}

.enderecoCompletoInfosFaleConosco,
.cepInfosFaleConosco,
.emailInfosFaleConosco,
.telefoneInfosFaleConosco {
  font-size: 32px;
  font-weight: 600;
}

.cepInfosFaleConosco {
  margin-bottom: 30px;
}

.buttonFaleConoscoWhatsapp {
  height: 44px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 30px;
  /* Auto layout */

  display: flex;
  gap: 8px;

  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  width: 240px;

  /* Azul/Azul MAIN */
  color: #018fbf;
  border: 1px solid #018fbf;
  border-radius: 50px;
}
.whatsappiconPrincipaisInfosFaleConosco {
  fill: #018fbf;
  transition: 0.3s ease-in-out;
}

.buttonFaleConoscoWhatsapp:hover {
  color: var(--primary-red);
  border: 1px solid var(--primary-red);
}
.buttonFaleConoscoWhatsapp:hover .whatsappiconPrincipaisInfosFaleConosco {
  fill: var(--primary-red);
}

@media (max-width: 1101px) {
  .containerPrincipalInfosFaleConosco {
    height: 1660px;
    flex-direction: column;
  }
}

@media (max-width: 571px) {
  .imagemPrincipaisInfosFaleConosco {
    width: 80vw;
  }

  .containerLeftPrincipaisInfosFaleConosco {
    width: 80vw;
    text-align: center;
  }

  .emailInfosFaleConosco {
    font-size: 20px;
  }

  .buttonFaleConoscoWhatsapp {
    margin: auto;
    justify-self: center;
    align-self: center;
    margin-top: 50px;
  }
}
