.containerPrincipalHeroSectionDoacao {
  background-color: var(--text-white);
}

.containerBackgroundHeroSectionDoacao {
  width: 100%;
  position: relative;
  height: 720px;
  display: flex;
  border-radius: 0px 0px 100px 100px;

  background: linear-gradient(
      359.49deg,
      #018fbf 17.74%,
      rgba(1, 143, 191, 0) 94.46%
    ),
    url("../../../public/imgs/heroSectionDoacao.png") center no-repeat;
  background-size: 100%;
  justify-content: center;
  align-items: center;
}

.containerTextoPrincipalHeroSectionDoacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* TEXTOS HERO SECTION ----------------------------------------*/
.primeiroTituloHeroSectionDoacao {
  font-size: 20px;
}

.segundoTituloHeroSectionDoacao {
  margin-top: 27px;
  text-align: center;
  font-size: 56px;
}

.descHeroSectionDoacao {
  margin-top: 32px;
  max-width: 616px;
  text-align: center;
}
/* - FIM - TEXTOS HERO SECTION ----------------------------------------*/

@media (max-width: 480px) {
  .containerBackgroundHeroSectionDoacao {
    background-size: cover;
    background-position: -900px 0px;
  }
}
