.containerGeralFooter {
  padding-top: 54px;
  width: 100%;
  height: 390px;
  background: linear-gradient(90deg, #018fbf 0%, #015673 111.49%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerConteudosFooter {
  display: flex;
  width: 1080px;
  padding-top: 54px;
  justify-content: space-between;
}

.sobreNosFooter {
  display: flex;
  flex-direction: column;
  height: 226px;
}

.miniMenuFooter {
  display: flex;
  flex-direction: column;
  height: 226px;
}

.contactenosFooter {
  display: flex;
  flex-direction: column;
  height: 226px;
}

.sobreNosTituloFooter {
  font-weight: 700;
  font-size: 36.38px;
}

.itemMiniMenuFooter {
  cursor: pointer;
  margin-top: 10px;
}

.descSobreNosFooter {
  width: 219px;
}

.faleConoscoButtonFooterZap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  min-width: 242px;
  max-width: 242px;
  min-height: 52px;
  border: 1px solid var(--text-white);
  color: var(--text-white);
  background-color: transparent;
  border-radius: 50px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.whatsappiconFooterPath,
.facebookIconSVGInsideFooterPath {
  fill: #f2f2f2;
  transition: 0.3s ease-in-out;
}

.facebookIconSVGInsideFooterPath:hover {
  fill: #0c27e9;
  transform: scale(1.2);
}

.whatsappiconInsideFooterPath {
  fill: #018fbf;
}

.instagramziniconInsideFooterPath,
.youtubeziniconPATHInsideFooterPath {
  stroke: #e6e6e6;
}
.instagramziniconInsideFooterPath {
  transition: 0.3s ease-in-out;
}
.instagramziniconSVGInsideFooterPath:hover {
  transform: scale(1.2);
}
.instagramziniconSVGInsideFooterPath:hover .instagramziniconInsideFooterPath {
  transition: 0.3s ease-in-out;
  stroke: #bc318f;
}

.youtubeziniconSVGInsideFooterPath {
  transition: 0.3s ease-in-out;
}
.youtubeziniconSVGInsideFooterPath:hover {
  transform: scale(1.2);
}

.youtubeziniconSVGInsideFooterPath:hover .youtubeziniconPATHInsideFooterPath {
  fill: #ff0000;
}

.faleConoscoButtonFooterZap:hover {
  border: 2px solid limegreen;
  color: limegreen;
}

.faleConoscoButtonFooterZap:hover .whatsappiconFooterPath {
  fill: limegreen;
}

.faleConoscoButtonFooterZap:hover .whatsappiconInsideFooterPath {
  fill: #f2f2f2;
}

.containerRedesSociaisFooter {
  cursor: pointer;
  width: 152px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  margin: 57px 0px 82px 0px;
}

.direitosAutoraisFooter {
  font-size: 14px;
}

@media (max-width: 1100px) {
  .containerConteudosFooter {
    display: flex;
    width: 100vw;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 54px;
    justify-content: space-between;
  }
}

@media (max-width: 630px) {
  .sobreNosTituloFooter {
    margin-bottom: 15px;
  }
  .containerConteudosFooter {
    padding-top: 10px;
    flex-direction: column;
    width: 100vw;
    background: linear-gradient(90deg, #018fbf 0%, #015673 111.49%);
    align-items: center;
  }

  .direitosAutoraisFooter {
    text-align: center;

    background: linear-gradient(90deg, #018fbf 0%, #015673 111.49%);
    padding-bottom: 50px;
  }

  .faleConoscoButtonFooterZap {
    align-self: center;
  }
  .miniMenuFooter {
    max-width: 242px;
    flex-direction: row;
  }

  .contactenosFooter {
    width: 100vw;
  }

  .sobreNosFooter {
    min-width: 242px;
    margin-bottom: 40px;
  }

  .divisoriaFooterMiniMenu {
    width: 80%;
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .sobreNosTituloFooter {
    margin-bottom: 15px;
  }
  .containerConteudosFooter {
    padding-top: 10px;
    flex-direction: column;
    width: 100vw;
    background: linear-gradient(90deg, #018fbf 0%, #015673 111.49%);
    align-items: center;
  }

  .direitosAutoraisFooter {
    text-align: center;

    background: linear-gradient(90deg, #018fbf 0%, #015673 111.49%);
    padding-bottom: 50px;
  }

  .faleConoscoButtonFooterZap {
    align-self: center;
  }
  .miniMenuFooter {
    max-width: 242px;
    flex-direction: row;
  }

  .contactenosFooter {
    width: 100vw;
  }

  .sobreNosFooter {
    min-width: 242px;
    margin-bottom: 40px;
  }

  .divisoriaFooterMiniMenu {
    width: 80%;
    margin-bottom: 40px;
  }
}
