.containerPrincipalFooterLocalizacaoOrfanato {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #018fbf 0%, #015673 111.49%);
  width: 100%;
  height: 656px;
}

.containerTextoLocalizacaoOrfanato {
  width: 496px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerTituloTextoLocalizacaoOrfanato {
  font-size: 48px;
  font-weight: 600;
}

.containerInfosLocalizacaoOrfanato {
  display: flex;
  margin-right: auto;
  gap: 60px;
}

.tituloItemInfoLocalizacaoOrfanato {
  margin-bottom: 11px;
}

.textoCimaInfoLocalizacao {
  margin-top: 40px;
}

.textoCimaInfoLocalizacao2 {
  margin-bottom: 40px;
}

.primeiraColunaInfosLocalizacaoOrfanato {
  max-width: 171px;
  display: flex;
  flex-direction: column;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 439px;
  width: 583px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  margin-left: 24px;
  width: 600px;
}

#gmap_canvas {
  border-radius: 33px;
}

.containerMapaLocalizacaoOrfanatoMobile {
  display: none;
}

@media (max-width: 480px) {
  .containerPrincipalFooterLocalizacaoOrfanato {
    flex-direction: column;
    height: 180vh;
  }

  .containerMapaLocalizacaoOrfanato {
    display: none;
  }

  .containerMapaLocalizacaoOrfanatoMobile {
    display: block;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;

    margin: auto;
    width: 300px;
  }

  #gmap_canvas {
    border-radius: 33px;
  }

  .containerTituloTextoLocalizacaoOrfanato {
    font-size: 24px;
    max-width: 100vw;
    text-align: center;
    margin: auto;
    font-weight: 600;
  }

  .containerInfosLocalizacaoOrfanato {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 60px;
  }

  .primeiraColunaInfosLocalizacaoOrfanato {
    margin: auto;
  }
  .segundaColunaInfosLocalizacaoOrfanato {
    margin: auto;
  }
  .segundaColunaInfosLocalizacaoOrfanato {
    margin-bottom: 40px;
    max-width: 171px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .containerPrincipalFooterLocalizacaoOrfanato {
    flex-direction: column;
    height: 180vh;
  }

  .containerMapaLocalizacaoOrfanato {
    display: none;
  }

  .containerMapaLocalizacaoOrfanatoMobile {
    display: block;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;

    margin: auto;
    width: 300px;
  }

  #gmap_canvas {
    border-radius: 33px;
  }

  .containerTituloTextoLocalizacaoOrfanato {
    font-size: 24px;
    max-width: 100vw;
    text-align: center;
    margin: auto;
    font-weight: 600;
  }

  .containerInfosLocalizacaoOrfanato {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 60px;
  }

  .primeiraColunaInfosLocalizacaoOrfanato {
    margin: auto;
  }
  .segundaColunaInfosLocalizacaoOrfanato {
    margin: auto;
  }
  .segundaColunaInfosLocalizacaoOrfanato {
    margin-bottom: 40px;
    max-width: 171px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .containerPrincipalFooterLocalizacaoOrfanato {
    flex-direction: column;
    height: 180vh;
  }

  .containerMapaLocalizacaoOrfanato {
    display: none;
  }

  .containerMapaLocalizacaoOrfanatoMobile {
    display: block;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;

    margin: auto;
    width: 300px;
  }

  #gmap_canvas {
    border-radius: 33px;
  }

  .containerTituloTextoLocalizacaoOrfanato {
    font-size: 24px;
    max-width: 100vw;
    text-align: center;
    margin: auto;
    font-weight: 600;
  }

  .containerInfosLocalizacaoOrfanato {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 60px;
  }

  .primeiraColunaInfosLocalizacaoOrfanato {
    margin: auto;
  }
  .segundaColunaInfosLocalizacaoOrfanato {
    margin: auto;
  }
  .segundaColunaInfosLocalizacaoOrfanato {
    margin-bottom: 40px;
    max-width: 171px;
    display: flex;
    flex-direction: column;
  }
}
