@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* html {
  background-color: purple;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.italic {
  font-style: italic;
}

.d-flex {
  display: flex;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
}
body {
  font-family: "Red Hat Display", sans-serif;
  color: #f7f7f7;
  background-color: #242424;
}

:root {
  /* Ligh theme variaveis */
  --text-black: #363636;
  --primary-color: #faf4e5;
  --primary-blue: #018fbf;
  --primary-red: #ff284d;
  --primary-green: #97f06c;
  --text-gray: #9c9c9c;

  /* Dark theme variaveis */
  --secondary-blue: #34fae6;
  --text-white: #f2f2f2;
  --secondary-color: #8395cd;
}
